<div class = "container">
	<div class="row">
		<div class="col justify-content-center" >
			<div class="card" style="width: 18rem;">
  				<img src="{%static 'images/download.png' %}" class="card-img-top" alt="...">
  				<div class="card-body">
				<h5 class="card-title">Schedule</h5>
				<p class="card-text">Every journey needs a map and for every battle you need a plan. Building a schedule helps you to keep an optimum work life </p>
				<a href="/Schedule/" class="btn btn-primary">Let's Plan</a>
				</div>
			</div>
		</div>
	




	
		<div class="col">
			<div class="card" style="width: 18rem;">
			  <img src="{%static 'images/gg-540Icon-8v2.png' %}" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title">Monthly Goals</h5>
			    <p class="card-text">Set your goals to keep reminding youself of the dream you are going to achieve.</p>
			    <a href="/Monthlygoals/" class="btn btn-primary">Let's Achieve More</a>
  				</div>
  			</div>
		</div>
	</div>




	<div class="row">
		<div class="col">
			<div class="card" style="width: 18rem;">
			  <img src="{%static 'images/f00449fa4db0422364c298516b223acd.png' %}" class="card-img-top" alt="...">
			  <div class="card-body">
			    <h5 class="card-title">Books To Read</h5>
			    <p class="card-text">An average human reads 1.5 books per year but a millionaire reads 52 books per year, follow the people you want to be.</p>
			    <a href="/books" class="btn btn-primary">Create The List</a>
 				</div>
			</div>
		</div>
	


	
		<div class="col">
			<div class="card" style="width: 18rem;">
 				<img src="{%static 'images/download1.png' %}" class="card-img-top" alt="...">
  				<div class="card-body">
    			<h5 class="card-title">Things To Do</h5>
    			<p class="card-text">After every plan you still need to take care of the commmon chores of everyday life, to keep the balance in life you need keep moving.</p>
    			<a href="/" class="btn btn-primary">Create The To-do List</a>
  				</div>
			</div>
		</div>
	</div>
</div>
