
<!DOCTYPE html>
<html>
<head>
  <title>hh</title>
  <style type="text/css"> body{ background-image: url('C:/Windows/System32/code/djangoproject/mysite/static/images/NoRegret.jpg');
  background-repeat: no-repeat; background-position: center; background-attachment: fixed} </style>
</head>
<body>

</body>
</html>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-wide w3-padding w3-card">
    <a href="home" class="w3-bar-item w3-button"><b></b> Goal Scheduler</a>
    <!-- Float links to the right. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="/Schedule" class="w3-bar-item w3-button">Scheduler</a>
      <a href="/Dolist" class="w3-bar-item w3-button">Dolist</a>
      <a href="/books" class="w3-bar-item w3-button">Books To Read</a>
      <a href="/Monthlygoals" class="w3-bar-item w3-button">Monthly Goals</a>
      <a href="/about" class="w3-bar-item w3-button">About</a>
    </div>
  </div>
</div>

<body class="bg"><nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="{% url 'home' %}">Goal Scheduler</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %}">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Schedule/">Schedule</a>
      </li><li class="nav-item">
        <a class="nav-link" href="/books">Books to read</a>
      </li> 
      <li class="nav-item">
        <a class="nav-link" href="/Monthlygoals">Monthly goals</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Dolist">Things to do</a>
      </li>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>-->
    </ul>
    <!--<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>-->
  </div>
</nav>