{% extends 'base.html' %}

{% block content %}
<h1> Keep Going</h1>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<div class="w3-container">
  <div class="w3-panel w3-pale-blue w3-leftbar w3-rightbar w3-border-blue">
    <p style="font-size: 50px">{{ object.Title }}</p>
	<p style="font-size: 40px">{{ object.Status }}</p>
  </div>
</div>


<!--
<h2>{{ object.Title }}</h2>
<h2>{{ object.Status }}</h2>
-->
<!-- <button><a href="{{ object.id}}/delete/"> Delete </a></button> -->

{% endblock %}